.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 1.5em;
    border: 1px solid #000;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
    margin-top: 1em;
}

.prescription-text {
    text-align: left;              
    font-weight: lighter;       
    font-size: 1.875em;
    color: black;                  
    margin-top: -1em;
}

.text-prescription h1 {
    margin: 0;                     
    font-size: 2.1875em;
    font-weight: 10;
}

.addprescription-container {
    margin-left: auto;
}

.addprescription-button {
    background-color: #000069;    
    color: white;
    padding: 0.625em 1.25em;
    border: none;                  
    border-radius: 0.3125em; 
    cursor: pointer;               
}

.addprescription-button:hover {
    background-color: #45a049;     
}

.container {
    background-color: #E2F8ED;
    padding: 1.5em;
    border: 1px solid #000;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
    width: 100%;
}

.search-container {
    display: flex; 
}

.head {
    padding: 0.625em;       
    border: 1px solid #ccc;       
    border-radius: 0.3125em; 
    width: 12.5em; 
    margin-left: 28.125em; 
}

.export-buttons {
    display: flex;                 
    align-items: center;          
    gap: 0.625em; 
    margin-bottom: 1.25em; 
}

.export {
    background-color: #000069;     
    color: white;
    padding: 0.625em 1.25em;
    border: none;
    border-radius: 0.3125em; 
    cursor: pointer;
}

.export:hover {
    background-color: #45a049;      
}

table {
    width: 100%;                  
    border-collapse: collapse;     
    margin-top: 2.5em; 
    background-color: white;           
}

th, td {
    padding: 0.625em; 
    text-align: left;
    border: 1px solid black;
    border-right: none; 
    border-left: none;
}

td:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125em; 
}

.image-container {
    width: 3.125em; 
    height: 3.125em; 
    border-radius: 50%;           
    overflow: hidden;             
    display: flex;                
    align-items: center;          
    justify-content: center;      
    border: 0.125em solid black; 
}

.image-container img {
    width: 100%;                  
    height: auto;                 
}

th {
    background-color: white;     
}

button.view, button.edit, button.delete {
    background-color: #007BFF;     
    color: white;
    border: none;
    padding: 0.3125em 0.625em; 
    border-radius: 0.3125em; 
    cursor: pointer;
}

button.view {
    background-color: lightslategrey;
}

button.view:hover {
    background-color: rgb(70, 101, 133);
}

button.edit:hover {
    background-color: #0056b3;     
}

button.delete {
    background-color: #dc3545;     
}

button.delete:hover {
    background-color: #c82333;      
}